<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.AccountMapper">
    <insert id="createNewAccount" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,email, userType, photoURL)
        values(#{username},#{password}, #{email}, 2,#{photoURL})
    </insert>
    <select id="getAccountByName" resultMap="User">
        select * from user where username=#{username}
    </select>
    <select id="getAccountById" resultMap="User">
        select * from user where id=#{userid}
    </select>

    <select id="selectVIPUserBySpendAmount" resultMap="VIPUserVO">
        select user.id,username,sum(history.fare)as amount from history,user
        inner join vip_card on user.id = vip_card.user_id
        where user.id = history.user_id
        GROUP BY user.id, username
        having amount>=#{amount}
    </select>

    <resultMap id="User" type="com.example.cinema.po.User">
    </resultMap>
    <resultMap id="VIPUserVO" type="com.example.cinema.vo.VIPUserVO">
        <result column="id" property="id"></result>
        <result column="username" property="name"></result>
        <result column="amount" property="spend"></result>
    </resultMap>
</mapper>