<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>影院统计</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/adminStatistic.css"/>





</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/adminIcon.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"  class="active"><a href="#"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/ticket/strategy"><i class="icon-ticket"></i> 退票策略</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">影院统计</span>
        </div>
        <div class="card table-container" id="schedule-rate-container">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>排片率</h5>

                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="doughnutChart" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="card table-container" id="box-office-container">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>票房</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="barChart1" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="card table-container" id="audience-price-container">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>客单价</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="lineChart" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="card table-container" id="place-rate-container">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>上座率</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="barChart2" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="card table-container" id="popular-movie-container">
        </div>
    </div>
</div>



<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/request.js"></script>
<script src="/js/echarts.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/jquery.peity.min.js"></script>
<script src="/js/jquery.metisMenu.js"></script>
<script src="/js/adminCinemaStatistic.js"></script>

</body>
</html>