<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>电影详情</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userMovieBuy.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cinemaHall.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/movieDetail.js"></script>
    <script src="/js/userMovieBuy.js"></script>

</head>
<body>
<div class="nav-top-container">
    <div class="nav-logo title">NJU-Se电影购票系统</div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/user/home">首页</a></li>
        <li role="presentation" class="active"><a href="/user/movie">电影</a></li>
    </ul>
    <div class="btn-group">
        <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <img class="avatar-sm" src="/images/defaultAvatar.jpg"/>
            <span class="gray-text" id="usernamespan" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
            <script>
                $('#usernamespan').text(sessionStorage.getItem('username'));
            </script>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/user/buy">电影票</a></li>
            <li><a href="/user/member">卡包</a></li>
            <li><a href="/user/history">历史消费记录</a></li>
            <li id="logout"><a href="#">登出</a></li>
        </ul>
    </div>
</div>

<div class="content-container">
    <div class="card col-md-12">
        <div class="col-md-10 col-md-offset-1" id="seat-state">
            <ol class="breadcrumb col-md-12">
                <li class="col-md-4"><a href="#" class="active">1. 选座</a></li>
                <li class="col-md-4">2. 确认订单，支付</li>
                <li class="col-md-4">3. 支付成功</li>
            </ol>

            <div class="seat-content col-md-12">
                <div class="col-md-8 content-card card" id="hall-card">
                </div>

                <div class="col-md-4 movie-detail">
                    <div class="line">
                        <div class="name img-wrapper">
                            <img id="movie-img">
                        </div>
                        <div class="info">
                            <div id="movie-name"></div>
                            <div>语言：<span id="movie-language"></span></div>
                            <div>类型：<span id="movie-type"></span></div>
                            <div>片长：<span id="movie-length"></span>分钟</div>
                            <div>票价：<span id="schedule-fare"></span>元/张</div>
                        </div>
                    </div>
                    <hr/>
                    <div class="line">
                        <div class="name">影厅：</div>
                        <div id="schedule-hall-name"></div>
                    </div>
                    <div class="line">
                        <div class="name">场次：</div>
                        <div id="schedule-time"></div>
                    </div>
                    <div class="line">
                        <div class="name">座位：</div>
                        <div id="seat-detail">还未选择座位</div>
                    </div>
                    <hr/>
                    <button id="order-confirm-btn" class="btn btn-primary" onclick="orderConfirmClick()"
                            disabled="disabled">
                        确认下单
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>