<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.sales.PayMapper">

    <insert id="insertOrder" parameterType="com.example.cinema.po.Order"
            useGeneratedKeys="true" keyProperty="id">
        insert into orders(name, content, price, status)
        VALUES(#{name},#{content},#{price},#{status})
    </insert>

    <select id="selectOrderByID" resultMap="Order">
        select * from orders where id=#{orderId}
    </select>

    <resultMap id="Order" type="com.example.cinema.po.Order">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="content" property="content"></result>
        <result column="price" property="price"></result>
        <result column="status" property="status"></result>
    </resultMap>


</mapper>